@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html, body {
  height: 100%;
}

body {
  min-height: 100%;
}
@theme {
  --animate-fade-in-up: fade-in-up 1s ease-in-out;
  @keyframes fade-in-up {
    from {
      transform: translateY(50%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}